/* Bootstrap color wheel */
colorWheel {
  /* Default */
  color: #e0e0e0;
  color: #b3b3b3;
  color: #868686;
  color: #d1d1d1;
  color: #5f5f5f;
  color: #373a3c;

  /* Primary */
  color: #337ab7;
  color: #ffac3a;
  color: #ff753a;
  color: #ffcf3a;

  /* Success */
  color: #5cb85c;
  color: #e67373;
  color: #e6a773;
  color: #b85c90;

  /* Info */
  color: #5bc1de;
  color: #ffb263;
  color: #ffd063;
  color: #ff7863;

  /* Warning */
  color: #f0ad4e;
  color: #3a6d9b;
  color: #4b47a8;
  color: #35a279;

  /* Danger */
  color: #d9534f;
  color: #3eab45;
  color: #307f83;
  color: #9eca4a;
}

footer {
  color: #b3b3b3;
}
