

button.deleteTodoButton.btn {
  outline: none;
  background: transparent;
  color: #d9534f;
}
button.toggleCompletedButton {
  background: transparent;
  outline: none;
  color: #5bc1de;
}
footer {
  color: #b3b3b3;
}
